ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #04AA6D;
  }

  .active {
    background-color: #04AA6D;
  }

  .myDiv {
    border: 55px outset #27186b;
    border-radius: 100px;
    background-color: lightblue;
    text-align: center;
    margin-top: 20px;
  }